{% extends 'admin/admin-layout.twig' %}
{% block content %}
<div class="span8">
  <div class="page-header"><h1>User profile</h1></div>
  <div class="well">
    <div class='row'>
      <div class='span3'>
       <img src="{{app.gravatar.getGravatar(user.email,100)|default(url('index.index')~'/img/default.gif')}}" alt="avatar" title='{{user.username}}'><br/>
       Roles:</br>
       {% for member in user.roles %}
        {{loop.index}} - {{ member }}
    {% endfor %}
       <address>
        <strong>{{user.username|capitalize}}</strong><br/>
        {{user.firstname ~" "~user.lastname|capitalize}}<br/>
        {{user.email}}<br/>
        {{user.adress.country|default('')}}<br/>
      </address>
    </div>
    <div class='span8'>
   
	{% include 'form/updateuser.twig' with {'form': updateuserform, 'action': path('user.profile')} only %}
	{% include 'form/register.twig' with {'form': registrationForm, 'action': path('user.dosignup')} only %}

      
    </div><!-- end details -->
  </div><!-- end row -->
</div><!-- end well-->
</div>
{% endblock %}